.cart-wrapper {
    display: flex;
    flex-direction: column;
}
.cartbox {
    height: 180px;
    display: flex;
    background-color: #EEE;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}
.cartcover {
    height: 100%;
    width: 120px;
    border-radius: 10px;
    background-color: #15284A;
}
.cartcontent {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-closebox {
    cursor: pointer;
    padding: 5px;
    background-color: #15284A;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
}
.cart-button {
    border: none;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    background-color: #15284A;
    cursor: pointer;
}